/* шрифты */
@font-face
{
  font-family: 'F77 Minecraft';
  src: url('../fonts/F77 Minecraft.ttf');
}
@font-face
{
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face
{
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face
{
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.ttf');
}

.body
{
  overflow-y: hidden;
}

#desktop
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(42,3%);
  grid-template-rows: repeat(200, 2%);
	overflow-x: hidden;
}
.frame
{
  position: relative;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 85;
  color: #010BFF;
}
.logo
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}
.logotext
{
  font-family: F77 Minecraft;
  color: #010BFF;
  font-size: 2vw;
  text-align: center;
  margin-top: 2.400000000000004vh;
}
.reserv
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 30;
  grid-column-end: 35;
  grid-row-start: 1;
  grid-row-end: 5;
}
.reservtext
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-left: 3vw;
  margin-top: 2.400000000000004vh;
}
.banner
{
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 35;
  grid-row-start: 5;
  grid-row-end: 33;
}
.bannertextblock
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 21;
  grid-row-start: 5;
  grid-row-end: 33;
}
.bannertext
{
  font-family: Gilroy-Light;
  color: #010BFF;
  font-size: 14vw;
  margin-top: 1.1vh;
  margin-left: 3.2vw;
}
.strelka
{
  position: absolute;
  top: 41vh;
  left: 37vw;
}
.bannerpic
{
  background-color:#010BFF;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 21;
  grid-column-end: 35;
  grid-row-start: 5;
  grid-row-end: 26;
}
.aboutus
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 21;
  grid-column-end: 28;
  grid-row-start: 26;
  grid-row-end: 33;
}
.about
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  text-align: center;
  margin-top: 5vh;
}
.history
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 28;
  grid-column-end: 34;
  grid-row-start: 26;
  grid-row-end: 33;
}
.story
{
  width: 278px;
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  text-align: center;
  margin-top: 5vh;
}
.choose
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 35;
  grid-row-start: 33;
  grid-row-end: 48;
}
.selector
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 32;
  grid-row-start: 48;
  grid-row-end: 88;
}
.first
{
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 48;
  grid-row-end: 68;
}
.two
{
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 12;
  grid-column-end: 22;
  grid-row-start: 48;
  grid-row-end: 68;
}
.three
{
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 22;
  grid-column-end: 32;
  grid-row-start: 48;
  grid-row-end: 68;
}
.four
{
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 12;
  grid-column-end: 22;
  grid-row-start: 68;
  grid-row-end: 88;
}
.five
{
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width:1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 68;
  grid-row-end: 88;
}
.six
{
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 22;
  grid-column-end: 32;
  grid-row-start: 68;
  grid-row-end: 88;
}
.decor
{
  background-color: white;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 1;
  grid-column-end: 36;
  grid-row-start: 85;
  grid-row-end: 90;
}
.banner2
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 32;
  grid-row-start: 90;
  grid-row-end: 118;
}
.decor2
{
  background-color: white;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 1;
  grid-column-end: 36;
  grid-row-start: 118;
  grid-row-end: 123;
}
.futter
{
  background-color: #010BFF;

  grid-column-start: 1;
  grid-column-end: 36;
  grid-row-start: 128;
  grid-row-end: 140;
}
