/* шрифты */
@font-face
{
  font-family: 'F77 Minecraft';
  src: url('../fonts/F77 Minecraft.ttf');
}
@font-face
{
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face
{
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face
{
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Light.ttf');
}


#desktop
{
  position: absolute;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(42,3%);
  grid-template-rows: repeat(200, 2%);
}
.frame
{
  position: relative;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 80;
  color: #010BFF;
}
.logo
{
  display: flex;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-content: center;
  align-items: center;
}
.logotext
{
  font-family: F77 Minecraft;
  color: #010BFF;
  font-size: 1.8vw;

}
.reserv
{
  display: flex;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 30;
  grid-column-end: 34;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-content: center;
  align-items: center;
}
.reservtext
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
}
.banner
{
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 35;
  grid-row-start: 4;
  grid-row-end: 29;
}
.bannertextblock
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 21;
  grid-row-start: 4;
  grid-row-end: 29;

}
.bannertext
{
  display: flex;
  font-family: Gilroy-Light;
  color: #010BFF;
  font-size: 15vw;
  justify-content: center;
  align-items: center;
}
.strelka
{
  width: 18vw;
    grid-column-start: 14;
    grid-column-end: 24;
    grid-row-start: 18;
    grid-row-end: 29;
}
.bannerpic
{
  background-color:#010BFF;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 21;
  grid-column-end: 35;
  grid-row-start: 4;
  grid-row-end: 24;
}
.aboutus
{
  display: flex;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 21;
  grid-column-end: 28;
  grid-row-start: 24;
  grid-row-end: 29;
  justify-content: center;
  align-items: center;
}
.about
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
}
.history
{
  display: flex;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 28;
  grid-column-end: 34;
  grid-row-start: 24;
  grid-row-end: 29;
  justify-content: center;
  align-items: center;
}
.story
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;

}
.choose
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 35;
  grid-row-start: 29;
  grid-row-end: 40;
}
.choose1
{
  position: absolute;
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 4vw;
  top: 46vw;
  left: 5vw;

}
.selector
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 32;
  grid-row-start: 40;
  grid-row-end: 80;
}
.first
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 40;
  grid-row-end: 56;
  overflow: hidden;
  z-index: 0;
  background-image: url('../img/technolog.svg' 0);
  background-repeat: no-repeat;
  background-size: 120%;
}

.first:hover{
  background-image: url('../img/technolog.svg');
  background-repeat: no-repeat;
  background-size: 135%;
  z-index: 0;
}
.child
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-top: -26vh;
}
.child:hover
{
  color: white;
}
.des
{
     font-family: Gilroy-Medium;
      color: #010BFF;
      font-size: 1.3vw;
      position: absolute;
      width: 24vw;
      margin-top: -3vh;
}
.buttomone
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start:56;
  grid-row-end: 60;
  z-index: 1;
}

.bron
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
}
.ageone
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:56;
  grid-row-end: 60;
}
.ageplus
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
}
.two
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 2px;
  border-color: #010BFF;
  grid-column-start: 12;
  grid-column-end: 22;
  grid-row-start: 40;
  grid-row-end: 56;
}
.two:hover{
  background-image: url('../img/technolog.svg');
  background-repeat: no-repeat;
  background-size: 135%;
  z-index: 0;
}
.career
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-top: -26vh;
  margin-left: -9vw;
  margin-top: -26vh;
}
.career:hover
{
  color: white;
}
.desone
{
     font-family: Gilroy-Medium;
      color: #010BFF;
      font-size: 1.3vw;
      position: absolute;
      width: 24vw;
      margin-top: -3vh;
}
.buttomtwo
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 14;
  grid-column-end: 22;
  grid-row-start:56;
  grid-row-end: 60;
}
.agetwo
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-color: #010BFF;
  grid-column-start: 12;
  grid-column-end: 14;
  grid-row-start:56;
  grid-row-end: 60;
}
.three
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 2px;
  border-color: #010BFF;
  grid-column-start: 22;
  grid-column-end: 32;
  grid-row-start: 40;
  grid-row-end: 60;
}
.three:hover{
  background-image: url('../img/technolog.svg');
  background-repeat: no-repeat;
  background-size: 127%;
  z-index: 0;
}
.world
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-top: -36vh;
  margin-left: -5vw;
}
.world:hover
{
  color: white;
}
.desthree
{
     font-family: Gilroy-Medium;
      color: #010BFF;
      font-size: 1.3vw;
      position: absolute;
      width: 24vw;
      margin-top: -15vh;
}
.buttomthree
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 24;
  grid-column-end: 32;
  grid-row-start:56;
  grid-row-end: 60;
  z-index: 1;
}
.agethree
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 22;
  grid-column-end: 24;
  grid-row-start:56;
  grid-row-end: 60;
}
.four
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 1px;
  border-left-width: 2px;
  border-color: #010BFF;
  grid-column-start: 12;
  grid-column-end: 22;
  grid-row-start: 60;
  grid-row-end: 80;
}
.four:hover{
  background-image: url('../img/technolog.svg');
  background-repeat: no-repeat;
  background-size: 127%;
  z-index: 0;
}
.tehnolog
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-top: -36vh;
  margin-left: -4vw;
}
.tehnolog:hover
{
  color: white;
}
.desfour
{
     font-family: Gilroy-Medium;
      color: #010BFF;
      font-size: 1.3vw;
      position: absolute;
      width: 24vw;
      margin-top: -15vh;
}
.buttomfour
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 14;
  grid-column-end: 22;
  grid-row-start: 76;
  grid-row-end: 80;
}
.agefour
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 12;
  grid-column-end: 14;
  grid-row-start:76;
  grid-row-end: 80;
}

.five
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width:1px;
  border-left-width: 1px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 60;
  grid-row-end: 80;
}
.five:hover{
  background-image: url('../img/technolog.svg');
  background-repeat: no-repeat;
  background-size: 127%;
  z-index: 0;
}
.univ
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-top: -36vh;
  margin-left: -7vw;
}
.univ:hover
{
  color: white;
}
.desfive
{
     font-family: Gilroy-Medium;
      color: #010BFF;
      font-size: 1.3vw;
      position: absolute;
      width: 24vw;
      margin-top: -22vh;
}
.buttomfive
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 76;
  grid-row-end: 80;
}
.agefive
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:76;
  grid-row-end: 80;
}
.six
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 2px;
  border-bottom-width: 1px;
  border-left-width: 2px;
  border-color: #010BFF;
  grid-column-start: 22;
  grid-column-end: 32;
  grid-row-start: 60;
  grid-row-end: 80;
}
.six:hover{
  background-image: url('../img/technolog.svg');
  background-repeat: no-repeat;
  background-size: 127%;
  z-index: 0;
}
.silence
{
  font-family: Gilroy-Medium;
  color: #010BFF;
  font-size: 2vw;
  margin-top: -36vh;
  margin-left: -16vw;
}
.six:hover
{
  color: white;
}
.dessix
{
     font-family: Gilroy-Medium;
      color: #010BFF;
      font-size: 1.3vw;
      position: absolute;
      width: 24vw;
      margin-top: -20vh;
}
.buttomsix
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 24;
  grid-column-end: 32;
  grid-row-start: 76;
  grid-row-end: 80;
}
.agesix
{
  display:  flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 22;
  grid-column-end: 24;
  grid-row-start:76;
  grid-row-end: 80;
}

.decor
{
  background-color: white;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 1;
  grid-column-end: 36;
  grid-row-start: 80;
  grid-row-end: 85;
}
.banner2
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 32;
  grid-row-start: 85;
  grid-row-end: 110;
}
.bannertextblock2
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 2;
  grid-column-end: 21;
  grid-row-start: 85;
  grid-row-end: 110;
}
.info
{
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 3px;
  border-color: #010BFF;
  grid-column-start: 21;
  grid-column-end: 32;
  grid-row-start: 85;
  grid-row-end: 110;
}
.decor2
{
  background-color: white;
  border-style: solid;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-color: #010BFF;
  grid-column-start: 1;
  grid-column-end: 36;
  grid-row-start: 110;
  grid-row-end: 115;
}
.futter
{
  background-color: #010BFF;

  grid-column-start: 1;
  grid-column-end: 36;
  grid-row-start: 115;
  grid-row-end: 125;
}

.bannertext2
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy-Light;
  color: #010BFF;
  font-size: 14vw;
}
